* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

body {
    text-align: justify;
    background: url("/ASSETS/img/fundo_jogabilidade.jpg");
    background-position: center;
    background-size: cover;
}

.nav {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    background-color: #23232e;
}

.logo {
    display: flex;
    justify-content: flex-start;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.nav-list li {
    margin-left: 32px;
}

a {
    color: #fff;
}

a:hover {
    color: black;
}

/*-------------------------------------------------------------------------------------*/
.conteúdo1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #23232e;
    border-radius: 10px;
    color: #fff;
    margin: 20px;
    width: 198vh;
    height: 25vh;
}

.titulo {
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    font-size: 35px;
    margin: 20px;
}

.titulo1 {
    text-align: center;
    justify-content: center;
    font-size: 45px;
    margin-right: 45px;
    margin-left: 20px;
}

.paragrafo1 {
    margin: 1vh;
    font-size: 2.3vh;
    line-height: 3.5vh;
}

/*----------------------------------------------------------------------------------*/
.conteúdo2 {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #23232e;
    border-radius: 10px;
    color: #fff;
    width: 50%;
    padding: 20px;
    height: 100%;
}

.texto-container {
    position: relative;
    margin: 20px;
    width: 198vh;
    height: 315px;
}

.video2 {
    position: absolute;
    right: 9%;
    top: 37%;

}

.paragrafo2 {
    margin: 4vh;
    font-size: 2.3vh;
    line-height: 3.5vh;
}

/*--------------------------------------------------------------------------------*/

.conteúdo3 {
    position: absolute;
    right: 0;
    background-color: #23232e;
    border-radius: 10px;
    color: #fff;
    width: 50%;
    padding: 2%;
    height: 100%;
}

.titulo2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    font-size: 3.6vh;
    margin: 2vh;
}

.paragrafo3 {
    margin-bottom: 4vh;
    font-size: 2.3vh;
    line-height: 3.5vh;
    text-align: justify;
}

.video3 {
    position: absolute;
    left: 9%;
    top: 73.5%;
}
/*---------------------------------------------------------------------------------*/

.conteúdo4 {
    position: absolute;
    left: 0;
    background-color: #23232e;
    margin-top: 1%;
    border-radius: 10px;
    color: #fff;
    width: 50%;
    padding: 5vh;
    height: 100%;
}

.paragrafo4 {
    margin: 4vh;
    font-size: 2.3vh;
    line-height: 3.5vh;
    text-align: justify;
}

.imagem4{
    margin: 1vh;
    position: absolute;
    right: 10%;
    top: 107vh;
}

/*----------------------------------------------------------------------------------*/

.conteúdo5 {
    position: absolute;
    right: 0;
    background-color: #23232e;
    margin-top: 2%;
    border-radius: 10px;
    color: #fff;
    width: 50%;
    padding: 2%;
    height: 90%;
}

.paragrafo5 {
    margin: 4vh;
    font-size: 2.3vh;
    line-height: 3.5vh;
    text-align: justify;
}

.video5{
    position: absolute;
    left: 8%;
    top: 145vh;
    margin: 2vh;
}

/*---------------------------------------------------------------------------------*/

.conteúdo6 {
    display: flex;
    justify-content: center;
    background-color: #23232e;
    margin-top: 3%;
    border-radius: 10px;
    color: #fff;
    width: 100%;
    height: 20vh;
}

.paragrafo6 {
    margin: 6vh;
    font-size: 2.3vh;
    line-height: 3.5vh;
    text-align: justify;
}

.titulo6{
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    font-size: 35px;
    margin: 3%;
    text-align: center;
}

.imagem6{
    display: flex;
    justify-content: center;
    width: 200vh;
    height: 80vh; 
}


/*-------------------------------------------------------------------------------*/

/*o recurso webkit nada mais é do que um conjunto de recursos nativos de qualquer página criada (como a scrollbar por exemplo)*/
body::-webkit-scrollbar {
    width: 1.5vh;
}

/*o recurso track é responsável por definir a cor da barra */
body::-webkit-scrollbar-track {
    background: rgba(35, 35, 46, 0.7);
}

/*o recurso thumb é para quando a barra é arrastada/selecionada*/
body::-webkit-scrollbar-thumb {
    background: #9f83a5;
    border-radius: 10px;
}

/*Quando selecionada/o cursor passa em cima, sua cor muda*/
body::-webkit-scrollbar-thumb:hover {
    background: #67536b;
}

/*-------------------------------------------------------------------------------*/
.rodape {
    position: relative; 
    width: 100%;
    height: 10vh;
    background-color: #23232e;
    color: #fff;
    text-align: left;
    padding: 10px;
    margin-top: 10vh;
}

.email, .instagram{
    display: inline;
    flex-direction: column;
    font-size: 2.5vh;
    margin: 28vh;
    justify-content: space-between;

}

.music {
    display: flex;
    margin: 10px;
    border-style: none;
    border-radius: 20%;
    width: 50px;
    height: 50px;
    background-color: transparent;
    cursor: pointer;
}

#botao {
    display: flex;
    margin: 1px;
    text-align: justify;
    padding: 0;
}

#icone {
    width: 30px;
    height: 30px;
}